<!DOCTYPE html>
<html>
  <head>
    <title>Swep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- application.html.erb in Head tag below turbolinks -->
    <%= javascript_pack_tag 'application' %>
    <!-- add authenticity token to app-->
    <%= javascript_tag "window._token = '#{form_authenticity_token}'; window._isLoggedIn = #{logged_in?} " %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
